<a href="https://colab.research.google.com/github/StevAlexCM/PrograIII_Semi_2025/blob/main/introduccion_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola mundo!")
print("Bienvenidos a la clase de programacion computacional III")

Hola mundo!
Bienvenidos a la clase de programacion computacional III

In [ ]:
nombre = "Steven Campos"
edad = 19
print (nombre, edad)

edad = "diecinueve"
print ("tu edad: " , edad)

Steven Campos 19
tu edad:  diecinueve

In [ ]:
num1 = 7
num2= 6.5
suma = num1 + num2
print("La suma es:", suma)

La suma es: 13.5

In [ ]:
num1 = float (input("Num1: "))
num2 = float (input("Num2: "))
suma = num1 + num2
print("La suma es: ", suma)

Num1: 5
Num2: 3
La suma es:  8.0

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
resta = num1 - num2
print("La resta es: ", resta)

Num1: 8
Num2: 3
La resta es:  5.0

In [ ]:
# entero
num1 = 6
print (str(num1) + " Esto es un numero entero")

#Decimal
num2 = 7.5
print(num2, "Esto es un numero decimal")

#Boolenao
esMayor = True
print(esMayor, "Esto es un booleano")

#Cadena
nombre = "Steven Campos"
print(nombre, "Esto es una cadena")
print(nombre, "Letra inicial:", nombre[0],"Un valor en especifico:", nombre[5], "rango:", nombre[0:6],"Comenzar desde el final:", nombre[-1])

#Fecha
from datetime import datetime, date, time
fecha = datetime.now()
print(fecha, fecha.date(), fecha.time())
print(type(fecha))


fechaPersonalizada = date(2025,8,1)
print(fechaPersonalizada)

6 Esto es un numero entero
7.5 Esto es un numero decimal
True Esto es un booleano
Steven Campos Esto es una cadena
Steven Campos Letra inicial: S Un valor en especifico: n rango: Steven Comenzar desde el final: s
2025-07-29 13:30:13.477512 2025-07-29 13:30:13.477512
<class 'datetime.datetime'>
2025-08-01

In [ ]:
#Suma
def suma(num1, num2):
    return num1 + num2

In [ ]:
print( "la suma de 5 + 8 es: ", suma(5,8))

la suma de 5 + 8 es:  13

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
respuesta = suma(num1, num2)
print("La suma es: ", respuesta)

Num1: 8
Num2: 10
La suma es:  18.0

Tarea.

In [ ]:
#Resta
def resta(num1, num2):
    return num1 - num2

In [ ]:
print( "la resta de 5 - 8 es: ", resta(5,8))

la resta de 5 - 8 es:  -3

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
respuesta = resta(num1, num2)
print("La resta es: ", respuesta)

Num1: 9
Num2: 6
La resta es:  3.0

In [ ]:
#Celcius a farenheith.
def celciusFarenheith(c):
  return c*1.8 + 32

In [ ]:
c = int (input("grados c: "))
f = celciusFarenheith(c)
print("F: ", f)

grados c: 3
F:  37.4

In [ ]:
#Farenheit a Celcius
def farenheithCelcius(f):
  return (f - 32) * 5/9

In [ ]:
f = float (input("Grados F: "))
c = farenheithCelcius(f)
print("C: ", c)

Grados F: 89
C:  31.666666666666668

In [ ]:
#Celcius a Kelvin
def celciusKelvin (c):
 return (c + 273.15)

In [ ]:
c = float (input("Grados C: "))
k = celciusKelvin(c)
print("K: ", k)

Grados C: 0
K:  273.15

In [ ]:
#Hacer un ejercicio en python haciendo de uso de funciones de usuario, que calcule el sueldo de un empleado, segun el numero de horas trabajadas y el valor por hora
def sueldo(numHoras, ValorXhoras):
  sueldo = numHoras * ValorXhoras * 30
  return sueldo

In [ ]:
numHoras = float(input("Hrs: "))
Valorxhoras = float(input("valor por hora: "))
sueldo = sueldo(numHoras, Valorxhoras)
print("Sueldo: ", sueldo)

Hrs: 14
valor por hora: 14
Sueldo:  5880.0

In [ ]:
#Elevar un numero a exponente
def exponenciacion(b,e):
  return b**e

b = float(input("Base: "))
e = float(input("Exponente: "))

resultado = exponenciacion(b,e)

print(f"{b} elevado a {e} es igual a {resultado}")

Base: 5
Exponente: 2
5.0 elevado a 2.0 es igual a 25.0

FUNCIONES **ANONIMAS**

In [ ]:
def suma(a,b):
  return a+b

In [ ]:
a = float(input("Num1: "))
b = float(input("Num2: "))

suma = suma(a,b)
print("La suma es: ", suma)

Num1: 4
Num2: 5
La suma es:  9.0

In [ ]:
a = float(input("Num1: "))
b = float(input("Num2: "))

sum = lambda a,b: a+b
print( "La suma de ", a, " mas b ", b, " es igual ", sum(a,b) )

Num1: 4
Num2: 4
La suma de  4.0  mas b  4.0  es igual  8.0

FUNCIONES PRECONSTRUIDAS

In [ ]:
def extraerPrimeraLetra(dia):
  return dia[0]

In [ ]:
#map
semana = ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"]

primeraLetraDia = map(lambda dia: dia[0], semana)
print(list(primeraLetraDia))

mayusSemana = map(lambda dia: dia.upper(), semana)
print(list(mayusSemana))

print( list(map(extraerPrimeraLetra, semana)) )

['D', 'L', 'M', 'M', 'J', 'V', 'S']
['DOMINGO', 'LUNES', 'MARTES', 'MIERCOLES', 'JUEVES', 'VIERNES', 'SABADO']
['D', 'L', 'M', 'M', 'J', 'V', 'S']

In [ ]:
numeros = [2,4,6,8,7,9]
potencia = int(input("Potencia: "))
numeroPotencia = map(lambda num: num**potencia, numeros)

print(list(numeroPotencia))

Potencia: 4
[16, 256, 1296, 4096, 2401, 6561]

In [ ]:
ntabla  = int(input("Tabla:"))
numeros = [1,2,3,4,5,6,7,8,9,10]
tabla = map(lambda num: num*ntabla, numeros)

print(list(tabla))

Tabla:4
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [ ]:
serie = [5,6,9,2,7,8]
pares = filter(lambda num: num%2==0, serie) #% ===> a modulo, obtener el residuo.

print(list(pares))

impares = filter(lambda num: num%2!=0, serie)

print(list(impares))

[6, 2, 8]
[5, 9, 7]

In [ ]:
serieUser = input("Serie: ") # "5,2,8,1" --> serie[0]="5"; serie[1]="2"; etc..
serieUser = serieUser.split(",")

pares = filter(lambda num: int(num)%2==0, serieUser)
impares = filter(lambda num: int(num)%2!=0, serieUser)

print("Pares: ",list(pares))
print("Impares: ", list(impares))

Serie: 1,2,3,4,5,6
Pares:  ['2', '4', '6']
Impares:  ['1', '3', '5']

Hacer un ejercicio en python usando la funcion filter y lambda que de una seria de notas introducidas por el usuario, establezca cuantos pasan la materia (>6) y cuantos se quedan (<6).

In [ ]:
#reduce
from functools import reduce

numeros = [5,4,9,6,8,2,3]
suma = reduce(lambda num, acum: num+acum, numeros)

sumaPares = reduce(lambda num, acum: num+acum, filter(lambda num: num%2==0, numeros))
sumaPar = reduce(lambda num, acum: acum + num if num%2==0 else 0, numeros) #pendiente de revisar...

print("La suma es: ", suma)
print("La suma de los pares es: ", sumaPares)
print("Suma Pares: ", sumaPar)

La suma es:  37
La suma de los pares es:  20
Suma Pares:  13